.intro {
  text-align: center;
  margin-bottom: 20px;
}

.intro h2 {
  font-size: 1.5rem;
  color: rgb(143, 28, 111); 
  margin-bottom: 8px;
  font-weight: bold;

}

.intro p {
  font-size: 1rem;
  color: #666; 
}

.high {
  color: red;
  font-weight: bold;
}

.medium {
  color: orange;
}

.low {
  color: green;
}

.done {
  text-decoration: line-through;
  color: gray !important;
}

.ion-padding {
  padding-left: 20px;
  padding-right: 20px;
}

ion-card {
  margin-bottom: 20px;
    background-color: white; 
    border-radius: 12px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    padding: 16px; 
  }


  ion-content {
    --background:rgb(253, 235, 248); 
  }
  
ion-item ion-label {
  margin-top: 8px;
  font-size: 1rem; 
}

ion-item ion-input {
  padding-top: 10px; 
}

.custom-add-task-button {
  --background: rgb(143, 28, 111); 
  --color: white; 
  --border-radius: 8px; 
  --padding-start: 16px;
  --padding-end: 16px; 
}

ion-item ion-input {
  --padding-top: 16px; 
  --padding-bottom: 16px; 
  margin-top: 32px; 
}

ion-card-title{
  color:rgb(143, 28, 111);
}