#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-item {
  --min-height: 50px;
  margin-bottom: 10px;

}

ion-input {
  width: 80%;
  margin-right: 10px;
}

/* Priority Styling */
.high {
  color: red;
  font-weight: bold;
}

.medium {
  color: orange;
}

.low {
  color: green;
}

/* Done Task Styling */
.done {
  text-decoration: line-through;
  color: gray !important;
}

/* Page Padding */
.ion-padding {
  padding-left: 20px;
  padding-right: 20px;
}
